
body {
  background-color: #eee;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  width: 400px;
  margin: auto;
  text-align: center;
}
#map {
  width: 400px;
  height: 400px;
}